div {
    background: black;
    color: white;
    padding: 20px 50px;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    letter-spacing: 2px;
}

div:hover {
    background: #222;
}