.home-container {
    text-align: center;
}

.home-header-holder {
    background: orange;
    height: 500px;
    padding: 80px 0;
}

.home-header-holder h1 {
    font-size: 12em;
}

.home-info-made-for {
    background: #0C4AA7;
    color: white;
    padding: 20px 0;
}