.form-holder {
    border: 2px solid rgb(110, 181, 209);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}

legend {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}