<div class="form-holder">
    <form action="" (submit)="postRecord(person.value, city.value, occupation.value, phone.value)" novalidate>
        <legend>Add Record</legend>

        <div class="form-group">
            <label for="">Name</label>
            <input #person type="text" class="form-control">
        </div>

        <!--============================================-->

        <div class="form-group">
            <label for="">City</label>
            <select #city name="" class="form-control">
                <option *ngFor="let city of selectCityList" value="{{city}}">
                    {{city}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Occupation</label>
            <select #occupation class="form-control">
                <option *ngFor="let occupation of selectOccupationList" value="{{occupation}}">
                    {{occupation}}
                </option>
            </select>
        </div>

        <!--============================================-->

        <div class="form-group">
            <label for="">Phone</label>
            <input #phone type="text" class="form-control">
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary ">Add Record</button>
        </div>
    </form>
</div>