.form-holder {
    /*border: 1px solid rgb(219, 219, 219);*/
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgb(53, 53, 53);
    overflow: hidden;
}

legend {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


/* ======= Form Validations Styles ======== */

.form-control.ng-valid.ng-touched {
    border: 1px solid rgb(107, 216, 44) !important;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red !important;
}

label {
    display: flex;
    flex-wrap: wrap;
}

label span {
    flex: 1;
}

.span-invalid {
    display: inline-block;
    width: 100%;
    position: relative;
    top: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: red;
    color: white;
    z-index: -1;
}

.input-info {
    color: rgb(158, 158, 158);
    margin: auto;
    font-size: 0.8em;
}