<div class="form-holder">
    <form action="" method="POST" role="form">
        <legend>Add Record</legend>

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="person" [(ngModel)]="person">
        </div>

        <!--============================================-->

        <div class="form-group">
            <label for="">City</label>
            <select disabled name="" class="form-control">
                <option value="">In progress</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Occupation</label>
            <select disabled name="" class="form-control">
                <option value="">In progress</option>
            </select>
        </div>

        <!--============================================-->

        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
        </div>

        <div class="text-right">
            <button (click)="postRecord(person, phone)" class="btn btn-primary ">Add Record</button>
        </div>
    </form>
</div>