<!-- Edit Contact -->
<div id="edit-form" class="form-holder edit-contact-form">
    <form [formGroup]=" editForm " (ngSubmit)="editRecord(editForm.value, editValue.id) " novalidate>
        <legend>Edit {{editValue.person}}</legend>

        <!-- Name - Person-->
        <div class="form-group">
            <label for=""><span>Name</span> <small class="input-info">required, min 3 chars,only capital letters</small></label>
            <input type="text" class="form-control" formControlName="person">
            <span *ngIf="editForm.controls['person'].pristine && editForm.controls['person'].touched
                || editForm.controls['person'].value ==='' && editForm.controls['person'].touched" class="span-invalid">
                Name is required.
            </span>
            <span *ngIf="editForm.controls['person'].hasError('minlength')" class="span-invalid">
                Min length 3 chars
            </span>
            <span *ngIf="editForm.controls['person'].errors?.pattern && !editForm.controls['person'].hasError('minlength')" class="span-invalid">
                Only capital letters: IVAN IVANOV
            </span>
        </div>

        <!-- City -->
        <div class="form-group">
            <label for=""><span>City</span> <small class="input-info">required</small></label>
            <select name="" class="form-control" formControlName="city">
                <option value="" disabled="true" [selected]="true">--please select--</option>
                <option *ngFor="let city of selectCityList" value="{{city}}">
                    {{city}}
                </option>
            </select>
            <span *ngIf="editForm.controls['city'].pristine && editForm.controls['city'].touched" class="span-invalid">
                City is required.
            </span>
        </div>

        <!-- Occupation -->
        <div class="form-group">
            <label for=""><span>Occupation</span> <small class="input-info">required</small></label>
            <select class="form-control" formControlName="occupation">
                <option value="" disabled="true" [selected]="true">--please select--</option>
                <option *ngFor="let occupation of selectOccupationList" value="{{occupation}}">
                    {{occupation}}
                </option>
            </select>
            <span *ngIf="editForm.controls['occupation'].pristine && editForm.controls['occupation'].touched" class="span-invalid">
                Occupation is required.
            </span>
        </div>

        <!-- Phone -->
        <div class="form-group">
            <label for=""><span>Phone</span> <small class="input-info">required, min 6 numbers, start with + or 00, onliy numbers</small></label>
            <input type="tel" class="form-control" formControlName="phone">
            <span *ngIf="editForm.controls['phone'].pristine && editForm.controls['phone'].touched" class="span-invalid">
                Phone is required.
            </span>
            <span *ngIf="editForm.controls['phone'].hasError('minlength')" class="span-invalid">
                Min length is 6 chars
            </span>
            <span *ngIf="editForm.controls['phone'].errors?.phoneValidatorStart
                && !editForm.controls['phone'].hasError('minlength')
                && !editForm.controls['phone'].pristine" class="span-invalid">
                Start with "+" or "00"
                for example: +35988565487
            </span>
            <span *ngIf="editForm.controls['phone'].errors?.phoneValidatorOnlyNumbers
                && !editForm.controls['phone'].hasError('minlength')
                && !editForm.controls['phone'].pristine
                && !editForm.controls['phone'].errors?.phoneValidatorStart" class="span-invalid ">
                Use Only Numbers!
            </span>
        </div>

        <div class="text-right ">
            <button type="submit" class="btn btn-primary ">Save Changes</button>

        </div>
    </form>
    <button type="button" (click)="cancel()">Cancel</button>

</div>